<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reece Iriye</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@2.0.6"></script>
</head>

<body>
  <header>
    <div class="header-content">
      <a href="/" hx-get="/" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">
        <div class="logo-wrapper">
          <h1 class="logo-text">Reece Iriye</h1>
          <div class="bar-container">
            <div class="bar pink"></div>
            <div class="bar teal"></div>
          </div>
        </div>
      </a>
      <nav class="nav-wrapper">
        <ul class="nav-list">
          <li>
            <a href="/" hx-get="/" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">Home</a>
          </li>
          <li>
            <a href="/work-history" hx-get="/work-history" hx-target="#content" hx-swap="innerHTML"
              hx-push-url="true">Work History</a>
          </li>
          <!-- <li> -->
          <!--   <a href="/projects" hx-get="/projects" hx-target="#content" hx-swap="innerHTML" -->
          <!--     hx-push-url="true">Projects</a> -->
          <!-- </li> -->
          <!-- <li> -->
          <!--   <a href="/speaking-engagements" hx-get="/speaking-engagements" hx-target="#content" hx-swap="innerHTML" -->
          <!--     hx-push-url="true">Speaking Engagements</a> -->
          <!-- </li> -->
          <li>
            <a href="/metrics" hx-get="/metrics" hx-target="#content" hx-swap="innerHTML" hx-push-url="true"
              class="grafana-logo" title="Metrics Dashboard">
              <img src="/static/assets/grafana-logo-long.webp" alt="Grafana" class="grafana-logo-img">
            </a>
          </li>
          <li>
            <a href="/contact-me" hx-get="/contact-me" hx-target="#content" hx-swap="innerHTML"
              hx-push-url="true">Contact Me</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="content">
    {{ .Content }}
  </main>

  <footer>
    <p>&copy; 2025 Reece Iriye</p>
  </footer>
</body>

<script>
  document.body.addEventListener("htmx:afterSwap", (evt) => {
    if (evt.target.id === "content") {
      window.scrollTo(0, 0);
    }
  });
</script>


</html>
