{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	email {env.ACME_ACCOUNT}
}

reeceiriye.me {
	reverse_proxy htmx-portfolio:8080 {
		header_up X-Real-IP {http.reverse_proxy.upstream.address}
	}

	tls {
		protocols tls1.2 tls1.3
	}

	rate_limit {
		distributed
		zone per_ip {
			key {http.request.header.CF-Connecting-IP}
			window 1m
			events 70
			burst 10
		}
		zone generic {
			key static
			window 1m
			events 500
			burst 10
		}
		log_key
	}
}
