{{ define "Content" }}
<section class="work-history">
  <div class="timeline">
    <div class="timeline-photos">
      <div class="timeline-photo-container">
        <div class="photo-frame teal-frame">
          <img src="/static/assets/meetup-speaking.jpeg" alt="Dallas Software Developers Speaking"
            class="timeline-photo">
        </div>
      </div>

      <div class="timeline-photo-container">
        <div class="photo-frame pink-frame">
          <img src="/static/assets/meetup-group-chat.png" alt="Dallas Software Developers Networking"
            class="timeline-photo">
        </div>
      </div>

      <div class="timeline-photo-container">
        <div class="photo-frame orange-frame">
          <img src="/static/assets/nexpoint-tower-scholars-networking.jpg" alt="Tower Scholar Networking"
            class="timeline-photo">
        </div>
      </div>

      <div class="timeline-photo-container">
        <div class="photo-frame teal-frame">
          <img src="/static/assets/cyc-speaker-chat.jpg" alt="Commit Your Code Chat" class="timeline-photo">
        </div>
      </div>

      <div class="timeline-photo-container">
        <div class="photo-frame pink-frame">
          <img src="/static/assets/kcnd-group-photo.jpg" alt="KCND Group Meetup" class="timeline-photo">
        </div>
      </div>

      <div class="timeline-photo-container">
        <div class="photo-frame orange-frame">
          <img src="/static/assets/dialexa-group.jpg" alt="Dialexa Group Photo" class="timeline-photo">
        </div>
      </div>

    </div>

    <div class="timeline-content-area">
      <div class="timeline-line"></div>

      <div class="timeline-item">
        <div class="timeline-content">
          <img src="/static/assets/verizon-logo.svg" alt="Verizon" class="company-logo">
          <h3>Network Engineer I - 5G/4G Core Operations</h3>
          <span class="timeline-date">Jun 2024 - Present</span>
          <ul class="accomplishments">
            <li>Directed largest 5G outage bridge in 2025 impacting customers nationwide; restored traffic identifying
              impacted Kubernetes clusters and rebooting critical apps for minimum viable functionality first, then
              redundancy</li>
            <li>Cut Prometheus metric cardinality by 98.6% for Kubernetes-deployed 5G Core applications, directly
              averting a $3.4M vendor contract expansion and eliminating ~70% of reporting lag</li>
            <li>Own SRE & DevOps for Verizon’s 5G Core Service Communication Proxy (SCP) & Network Repository Function
              (NRF)—Kubernetes/Openshift-native NF’s processing 40M+ subscriber devices and 1 billion peak req/hr across
              U.S.</li>
            <li>Replaced legacy Kubernetes CRD with Terraform to manage Infoblox DNS entry state for 5G Core SCP & NRF,
              eliminating 100% of buggy workloads and simplifying DNS lifecycle management</li>
            <li>Built Python API detecting 1,000+ 4G routing misconfigurations, preventing outage scenarios valued at
              $200K+ each</li>
            <li>Patenting DNS Edge mapping solution for SCP/NRF involving CNAME records, cutting future capacity
              buildout resource needs by 80% and accelerating deployment efforts by 2+ months</li>
            <li>Designed & implementing on-prem Kubernetes multi-cluster scaling framework for SCP, enabling 500%
              traffic growth and improving debugging fidelity through partitioning ingress traffic by client origination
            </li>
            <li>Automated Istio service mesh onboarding with Python, reducing manual config time by ~4+ hours per FQDN
              batch and eliminating error-prone manual CRD edits</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-content">
          <img src="/static/assets/dialexa-logo.png" alt="Dialexa an IBM Company" class="company-logo">
          <h3>Product Engineer Intern - Data Science & Machine Learning Team</h3>
          <span class="timeline-date">May 2023 - Aug 2023</span>
          <ul class="accomplishments">
            <li>Coded serverless facial-recognition tagging system using Python, Typescript, GCP & Github Actions with
              CI/CD, then re-deployed feature on local GPU hardware, speeding up feature from 6s to 0.4s on average—a
              93% latency decrease</li>
          </ul>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-content">
          <img src="/static/assets/NexPoint_Logo.png" alt="Company" class="company-logo">
          <h3>Quantitative Risk Analysis Intern</h3>
          <span class="timeline-date">Jun 2022 - Jul 2022</span>
          <ul class="accomplishments">
            <li>Predicted deal failures for NexPoint’s billion-dollar M&A fund using Machine Learning Python libraries
              (e.g. XGBoost)</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
{{ end }}
